@import "tailwindcss";

@theme {
    --color-spirit: #15141b;
    --color-darker-spirit: #0c0b12;
    --color-discord-activity: #2c2d32;
    --color-discord-green: #53ac66;
    --color-discord-dark: #26242a;
}